body{
    display:flex;
    flex-direction: column;

}
main{
    display:flex;
    flex-direction: row;
    flex:auto;
}
article.operations{
    flex:2;
    overflow-y:auto;
}
article.work{
    flex: 1;
    overflow-y: auto;
}